.closed {
    display: none;
}

.open {
    display: block;
}

button {
    width: 150px;
    /* background-color: #00ccee; */
    background-color: orangered;
    color: white;
}

#button1 {
    display: block;
    text-align: center;
    width: 250px;
    height: 25px;
    background-color: green;
    color: white;
    transition: 1.5s;
  
}

#button1:hover {
    width: 270px;
    height: 50px;
    opacity: .6;
    
}