.closed {
    display: none;
}

.open {
    display: block;
}

button {
    width: 150px;
    /* background-color: #00ccee; */
    background-color: orangered;
    color: white;
}

button1 {
    display: block;
    text-align: center;
    width: 250px;
    background-color: green;
    color: white;
}